# Basic EDA with Pandaa
Lebih baik kita salah ngisi data dari pada ngisi data palsu

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/hotel_bookings.csv")

In [4]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [5]:
df_shape = pd.DataFrame(data=[df.shape], columns={"Baris": 0, "Kolom": 1})
df_shape

    Baris  Kolom
0  119390     32

In [6]:
# head()
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [7]:
# tail()
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [8]:
# sample()
df.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
37692,Resort Hotel,0,328,2017,June,25,19,2,5,2,...,No Deposit,40.0,NaN,0,Contract,84.70,0,0,Check-Out,2017-06-26
27409,Resort Hotel,0,152,2016,August,34,16,3,10,2,...,No Deposit,241.0,NaN,0,Transient,126.33,0,1,Check-Out,2016-08-29
53209,City Hotel,1,350,2016,June,25,17,0,2,1,...,Non Refund,29.0,NaN,0,Transient,130.00,0,0,Canceled,2015-08-11
9266,Resort Hotel,1,13,2016,November,46,6,1,0,2,...,No Deposit,339.0,NaN,0,Transient,43.20,0,0,Canceled,2016-10-27
87804,City Hotel,0,57,2016,April,17,23,2,1,2,...,No Deposit,9.0,NaN,0,Transient,177.30,0,2,Check-Out,2016-04-26

In [9]:
df_columns = pd.DataFrame(data=df.columns, columns=["Nama Kolom"])
df_columns

                        Nama Kolom
0                            hotel
1                      is_canceled
2                        lead_time
3                arrival_date_year
4               arrival_date_month
5         arrival_date_week_number
6        arrival_date_day_of_month
7          stays_in_weekend_nights
8             stays_in_week_nights
9                           adults
10                        children
11                          babies
12                            meal
13                         country
14                  market_segment
15            distribution_channel
16               is_repeated_guest
17          previous_cancellations
18  previous_bookings_not_canceled
19              reserved_room_type
20              assigned_room_type
21                 booking_changes
22                    deposit_type
23                           agent
24                         company
25            days_in_waiting_list
26                   customer_type
27                             adr
28     required_car_parking_spaces
29       total_of_special_requests
30              reservation_status
31         reservation_status_date

In [10]:
# .dtypes()
df_tipe_data = pd.DataFrame(data=df.dtypes, columns=["Tipe Data"])
df_tipe_data

                               Tipe Data
hotel                             object
is_canceled                        int64
lead_time                          int64
arrival_date_year                  int64
arrival_date_month                object
arrival_date_week_number           int64
arrival_date_day_of_month          int64
stays_in_weekend_nights            int64
stays_in_week_nights               int64
adults                             int64
children                         float64
babies                             int64
meal                              object
country                           object
market_segment                    object
distribution_channel              object
is_repeated_guest                  int64
previous_cancellations             int64
previous_bookings_not_canceled     int64
reserved_room_type                object
assigned_room_type                object
booking_changes                    int64
deposit_type                      object
agent                            float64
company                          float64
days_in_waiting_list               int64
customer_type                     object
adr                              float64
required_car_parking_spaces        int64
total_of_special_requests          int64
reservation_status                object
reservation_status_date           object

In [11]:
# .info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [12]:
# .describe()
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

## Data Cleaning

Menangani missing value

In [13]:
df.isna().sum() / len(df) * 100

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.003350
babies                             0.000000
meal                               0.000000
country                            0.408744
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.686238
company                           94.306893
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

In [14]:
# mengisi datanya -> Unknown -> .fillna()
df["country"] = df["country"].fillna("Unknown")

In [15]:
df["country"].isna().sum()

np.int64(0)

In [16]:
df["children"] = df["children"].fillna(0)

In [17]:
df["children"].isna().sum()

np.int64(0)

In [18]:
df["agent"] = df["agent"].fillna(0)

In [19]:
df["agent"].isna().sum()

np.int64(0)

In [20]:
df = df.drop("company", axis=1)

In [21]:
df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [22]:
# duplicated dataabs
df.duplicated().sum()

np.int64(32001)

In [23]:
df = df.drop_duplicates()

In [24]:
df.duplicated().sum()

np.int64(0)

## Aggregation & Features Engineering

In [25]:
# .gorupby()
# KitA mencari sebuah Insight dalam data, melihat berapa total booking di hotel yang tidak/dicancele
df.groupby("hotel")["is_canceled"].value_counts().unstack()

is_canceled       0      1
hotel
City Hotel    37377  16049
Resort Hotel  25987   7976

In [26]:
# Melihat rata rata harga untuk setiap hotel (membandingkan 2 buah fitur)
df.groupby("hotel")["adr"].mean()

hotel
City Hotel      110.985270
Resort Hotel     99.030296
Name: adr, dtype: float64

In [27]:
# Melihat harga rata rata pertahun untuk setiap hotel
df.groupby(["arrival_date_year", "hotel"])["adr"].mean().unstack()

hotel              City Hotel  Resort Hotel
arrival_date_year
2015                89.813927     94.450802
2016               107.896446     90.653587
2017               121.986516    113.020094

In [28]:
# Menggunakan aggregation lebih dari 1
df.groupby("customer_type")["lead_time"].agg(["min", "max", "mean", "count"])

                 min  max        mean  count
customer_type
Contract           0  532  109.225231   3139
Group              0  468   51.584559    544
Transient          0  737   73.431274  71982
Transient-Party    0  542  113.057489  11724

### Analisis Pendapatan (ADR) dan Permintaan Pasar
Analisis ini membantu memahami segmen pasar mana yang paling menguntungkan dan bagaimana tren harga sepanjang tahun.

- Tujuan: Melihat bagaimana rata-rata tarif harian (ADR - Average Daily Rate) berfluktuasi berdasarkan segmen pasar dan bulan kedatangan.

In [29]:
df.groupby(["market_segment", "arrival_date_month"])["adr"].mean().unstack()

arrival_date_month,April,August,December,February,January,July,June,March,May,November,October,September
market_segment,,,,,,,,,,,,
Aviation,101.346154,80.000000,NaN,44.000000,84.333333,74.714286,99.837045,89.873529,109.305556,85.000000,105.379310,107.000000
Complementary,0.663265,0.037037,1.693678,3.500000,0.865385,4.558222,0.203390,9.604839,0.378333,6.022059,0.271875,9.274510
Corporate,63.754811,91.692807,55.909544,53.656071,51.314207,96.716426,87.076480,59.130000,81.568759,52.813559,68.981720,92.031285
Direct,108.948282,168.832007,93.051144,74.462337,68.224558,153.046567,136.021845,81.751095,121.629116,78.946947,94.878301,132.114433
Groups,74.173333,74.106815,93.248995,64.261606,62.614508,76.978373,90.687719,65.275986,82.874139,66.367341,62.029213,92.023798
Offline TA/TO,75.963674,114.542292,66.188785,59.174458,57.175586,106.741716,88.905203,65.768021,79.307898,56.591278,76.145926,84.374089
Online TA,115.036182,159.336383,87.030076,83.139602,77.813043,142.945493,130.737039,91.258606,125.148128,83.006881,104.224256,126.880000
Undefined,NaN,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Features Engineering
Membuat fitur baru berdasarkan fitur yang sudah ada

In [30]:
# Membuat fitur baru untuk total stay nights
df["total_nights"] = df["stays_in_weekend_nights"] + df["stays_in_week_nights"]
df[["total_nights", "stays_in_weekend_nights", "stays_in_week_nights"]].sample(10)

        total_nights  stays_in_weekend_nights  stays_in_week_nights
110871             1                        0                     1
24421              1                        1                     0
48345              4                        1                     3
42723              2                        0                     2
21290              3                        1                     2
4753               3                        0                     3
90159              5                        2                     3
76822              1                        0                     1
13185              2                        0                     2
45847              2                        1                     1

In [31]:
# Menghandle tipe data date and time
df["reservation_status_date"] = pd.to_datetime(df["reservation_status_date"])

In [32]:
df["reservation_status_date"].dtypes

dtype('<M8[ns]')

In [33]:
# .map() hanya bekerja pada Series (1 kolom).
month_mapping = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12}
df["arrival_date_month"] = df["arrival_date_month"].map(month_mapping)

In [34]:
df["arrival_date_month"]

0         7
1         7
2         7
3         7
4         7
         ..
119385    8
119386    8
119387    8
119388    8
119389    8
Name: arrival_date_month, Length: 87389, dtype: int64

## Advance Data Preprocessing

Pada sub ini kita akan mencoba untuk menangani sebuah `outlier` menggunakan rumus matematika.

In [35]:
df_numbers = df.select_dtypes(include=("int64", "float64")).columns.to_list()

In [36]:
# Membuat sebuah fungsi untuk menangai outlier
def remove_outlier (df, columns, x):
    df_clean = df.copy()
    for cols in columns:
        Q1 = df_clean[cols].quantile(0.25)
        Q3 = df_clean[cols].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - x * IQR
        upper_bound = Q3 + x * IQR
        df_clean = df_clean[(df_clean[cols] >= lower_bound) & (df_clean[cols] <= upper_bound)]
    return df_clean

In [37]:
df_no_outliers = remove_outlier(df, df_numbers, 1.5)
df_no_outliers

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03,2
6,Resort Hotel,0,0,2015,7,27,1,0,2,2,...,No Deposit,0.0,0,Transient,107.00,0,0,Check-Out,2015-07-03,2
7,Resort Hotel,0,9,2015,7,27,1,0,2,2,...,No Deposit,303.0,0,Transient,103.00,0,1,Check-Out,2015-07-03,2
8,Resort Hotel,1,85,2015,7,27,1,0,3,2,...,No Deposit,240.0,0,Transient,82.00,0,1,Canceled,2015-05-06,3
9,Resort Hotel,1,75,2015,7,27,1,0,3,2,...,No Deposit,15.0,0,Transient,105.50,0,0,Canceled,2015-04-22,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119381,City Hotel,0,188,2017,8,35,31,2,3,2,...,No Deposit,14.0,0,Transient,99.00,0,0,Check-Out,2017-09-05,5
119383,City Hotel,0,164,2017,8,35,31,2,4,2,...,No Deposit,42.0,0,Transient,87.60,0,0,Check-Out,2017-09-06,6
119384,City Hotel,0,21,2017,8,35,30,2,5,2,...,No Deposit,394.0,0,Transient,96.14,0,2,Check-Out,2017-09-06,7
119385,City Hotel,0,23,2017,8,35,30,2,5,2,...,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06,7
119388,City Hotel,0,109,2017,8,35,31,2,5,2,...,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07,7

### Normalisasi

- Metode `MinMaxScaler()` = Mengubah skala `min` menjadi 0 & `max` menjadi 1 **(Hanya berfungsi jika datanya sudah normal/tidak ada outlier)**
- Metode `StandardScaler()` = Mengubah skala `mean` mendekati 0 & `std` mendekati 1 **(Hanya berfungsi jika datanya sudah normal/tidak ada outlier)**
- Metode `RobustScaler()` = Mengubah skala `min` menjadi 0 & `max` menjadi 1 **(Berfungsi juga apabila terdapat outlier di dalam data/tahan terhadap outlier)**

#### MinMaxScaler()

In [38]:
from sklearn.preprocessing import MinMaxScaler

In [39]:
minmax = MinMaxScaler()

In [40]:
df_min_max_scaled = df_no_outliers.copy()

In [41]:
df_min_max_scaled[df_numbers] = minmax.fit_transform(df_no_outliers[df_numbers])

In [42]:
df_min_max_scaled.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,total_nights
count,37658.000000,37658.000000,37658.000000,37658.000000,37658.000000,37658.000000,37658.000000,37658.000000,37658.0,37658.0,...,37658.0,37658.0,37658.0,37658.000000,37658.0,37658.000000,37658.0,37658.000000,37658,37658.000000
mean,0.309284,0.253646,0.608901,0.488326,0.487870,0.492017,0.472396,0.484014,0.0,0.0,...,0.0,0.0,0.0,0.140338,0.0,0.488146,0.0,0.322959,2016-08-30 04:24:45.963141888,0.480695
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,2015-03-13 00:00:00,0.000000
25%,0.000000,0.057432,0.500000,0.272727,0.269231,0.233333,0.000000,0.200000,0.0,0.0,...,0.0,0.0,0.0,0.016949,0.0,0.370370,0.0,0.000000,2016-03-20 00:00:00,0.285714
50%,0.000000,0.179054,0.500000,0.454545,0.480769,0.500000,0.500000,0.400000,0.0,0.0,...,0.0,0.0,0.0,0.016949,0.0,0.471111,0.0,0.500000,2016-09-07 00:00:00,0.428571
75%,1.000000,0.395270,1.000000,0.727273,0.692308,0.766667,1.000000,0.600000,0.0,0.0,...,0.0,0.0,0.0,0.286252,0.0,0.604914,0.0,0.500000,2017-03-04 00:00:00,0.571429
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,...,0.0,0.0,0.0,1.000000,0.0,1.000000,0.0,1.000000,2017-09-07 00:00:00,1.000000
std,0.462204,0.238889,0.340010,0.280157,0.261845,0.295420,0.423067,0.285697,0.0,0.0,...,0.0,0.0,0.0,0.198733,0.0,0.180589,0.0,0.352521,NaN,0.257812

#### StandardScaler()

In [43]:
from sklearn.preprocessing import StandardScaler

In [44]:
std = StandardScaler()

In [45]:
df_std_scaled = df_no_outliers.copy()

In [46]:
df_std_scaled[df_numbers] = std.fit_transform(df_no_outliers[df_numbers])

In [47]:
df_std_scaled.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,total_nights
count,3.765800e+04,3.765800e+04,3.765800e+04,3.765800e+04,3.765800e+04,3.765800e+04,3.765800e+04,3.765800e+04,37658.0,37658.0,...,37658.0,37658.0,37658.0,3.765800e+04,37658.0,3.765800e+04,37658.0,3.765800e+04,37658,3.765800e+04
mean,-1.449086e-16,-3.018929e-18,-1.268675e-13,8.453002e-17,9.056788e-17,-8.302055e-17,7.019011e-17,3.622715e-17,0.0,0.0,...,0.0,0.0,0.0,1.690600e-16,0.0,3.622715e-16,0.0,1.811358e-17,2016-08-30 04:24:45.963141888,-1.660411e-17
min,-6.691578e-01,-1.061787e+00,-1.790859e+00,-1.743067e+00,-1.863222e+00,-1.665503e+00,-1.116615e+00,-1.694172e+00,0.0,0.0,...,0.0,0.0,0.0,-7.061759e-01,0.0,-2.703120e+00,0.0,-9.161546e-01,2015-03-13 00:00:00,-1.864539e+00
25%,-6.691578e-01,-8.213695e-01,-3.202927e-01,-7.695732e-01,-8.350030e-01,-8.756572e-01,-1.116615e+00,-9.941212e-01,0.0,0.0,...,0.0,0.0,0.0,-6.208885e-01,0.0,-6.521871e-01,0.0,-9.161546e-01,2016-03-20 00:00:00,-7.562982e-01
50%,-6.691578e-01,-3.122502e-01,-3.202927e-01,-1.205773e-01,-2.711690e-02,2.702374e-02,6.524754e-02,-2.940704e-01,0.0,0.0,...,0.0,0.0,0.0,-6.208885e-01,0.0,-9.433343e-02,0.0,5.022203e-01,2016-09-07 00:00:00,-2.021778e-01
75%,1.494416e+00,5.928508e-01,1.150273e+00,8.529166e-01,7.807693e-01,9.297047e-01,1.247110e+00,4.059804e-01,0.0,0.0,...,0.0,0.0,0.0,7.342331e-01,0.0,6.466001e-01,0.0,5.022203e-01,2017-03-04 00:00:00,3.519425e-01
max,1.494416e+00,3.124305e+00,1.150273e+00,1.826410e+00,1.955876e+00,1.719551e+00,1.247110e+00,1.806082e+00,0.0,0.0,...,0.0,0.0,0.0,4.325779e+00,0.0,2.834398e+00,0.0,1.920595e+00,2017-09-07 00:00:00,2.014303e+00
std,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,0.0,0.0,...,0.0,0.0,0.0,1.000013e+00,0.0,1.000013e+00,0.0,1.000013e+00,NaN,1.000013e+00

In [48]:
from sklearn.preprocessing import RobustScaler

In [49]:
robus = RobustScaler()

In [50]:
df_robus_scaled = df_no_outliers.copy()

In [51]:
df_robus_scaled[df_numbers] = robus.fit_transform(df_no_outliers[df_numbers])

In [52]:
df_robus_scaled.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,total_nights
count,37658.000000,37658.000000,37658.000000,37658.000000,37658.000000,37658.000000,37658.000000,37658.000000,37658.0,37658.0,...,37658.0,37658.0,37658.0,37658.000000,37658.0,37658.000000,37658.0,37658.000000,37658,37658.000000
mean,0.309284,0.220793,0.217802,0.074316,0.016783,-0.014969,-0.027604,0.210035,0.0,0.0,...,0.0,0.0,0.0,0.458179,0.0,0.072632,0.0,-0.354081,2016-08-30 04:24:45.963141888,0.182431
min,0.000000,-0.530000,-1.000000,-1.000000,-1.136364,-0.937500,-0.500000,-1.000000,0.0,0.0,...,0.0,0.0,0.0,-0.062937,0.0,-2.008632,0.0,-1.000000,2015-03-13 00:00:00,-1.500000
25%,0.000000,-0.360000,0.000000,-0.400000,-0.500000,-0.500000,-0.500000,-0.500000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,-0.429519,0.0,-1.000000,2016-03-20 00:00:00,-0.500000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,2016-09-07 00:00:00,0.000000
75%,1.000000,0.640000,1.000000,0.600000,0.500000,0.500000,0.500000,0.500000,0.0,0.0,...,0.0,0.0,0.0,1.000000,0.0,0.570481,0.0,0.000000,2017-03-04 00:00:00,0.500000
max,1.000000,2.430000,1.000000,1.200000,1.227273,0.937500,0.500000,1.500000,0.0,0.0,...,0.0,0.0,0.0,3.650350,0.0,2.254974,0.0,1.000000,2017-09-07 00:00:00,2.000000
std,0.462204,0.707113,0.680019,0.616345,0.618907,0.553913,0.423067,0.714243,0.0,0.0,...,0.0,0.0,0.0,0.737951,0.0,0.769959,0.0,0.705042,NaN,0.902343

### Melihat korelasi antar data/feature
Untuk melihat korelasi dengan `Panda` kita cukup menggunakan `.corr()`

In [53]:
df.corr(numeric_only=True)

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_nights
is_canceled,1.000000,0.184772,0.088021,0.003735,0.001469,0.005317,0.060159,0.082886,0.081775,0.067355,...,-0.089654,0.051464,-0.052160,-0.093664,-0.000920,0.004461,0.127974,-0.184224,-0.120567,0.084059
lead_time,0.184772,1.000000,0.139123,0.106216,0.101195,0.009852,0.235109,0.310088,0.140439,0.028630,...,-0.147021,0.005369,-0.078941,0.077005,0.080425,0.132151,0.023533,-0.086564,0.034213,0.318228
arrival_date_year,0.088021,0.139123,1.000000,-0.499849,-0.514194,-0.010073,0.005127,0.003623,0.038573,0.041153,...,0.024339,-0.054217,0.027255,0.008596,-0.001902,-0.027943,0.176063,-0.039816,0.064246,0.004607
arrival_date_month,0.003735,0.106216,-0.499849,1.000000,0.995084,0.000827,0.027150,0.031778,0.027170,0.013659,...,-0.037727,0.007546,-0.021713,0.011751,0.020768,0.012763,0.103543,0.007330,0.049607,0.033754
arrival_date_week_number,0.001469,0.101195,-0.514194,0.995084,1.000000,0.093641,0.026901,0.027842,0.024429,0.013464,...,-0.036853,0.007202,-0.020816,0.011919,0.019624,0.013847,0.098341,0.008959,0.046622,0.030735
arrival_date_day_of_month,0.005317,0.009852,-0.010073,0.000827,0.093641,1.000000,-0.017801,-0.028216,-0.001143,0.015816,...,-0.004181,-0.008540,0.000150,0.006300,0.006122,0.006587,0.022597,0.009162,-0.001667,-0.027615
stays_in_weekend_nights,0.060159,0.235109,0.005127,0.027150,0.026901,-0.017801,1.000000,0.555543,0.088232,0.028545,...,-0.106963,-0.020641,-0.056660,0.050297,0.158358,-0.031685,0.038926,-0.042938,0.032365,0.786258
stays_in_week_nights,0.082886,0.310088,0.003623,0.031778,0.027842,-0.028216,0.555543,1.000000,0.095519,0.030458,...,-0.113562,-0.018788,-0.058513,0.085020,0.190033,0.001899,0.053285,-0.044327,0.037809,0.950575
adults,0.081775,0.140439,0.038573,0.027170,0.024429,-0.001143,0.088232,0.095519,1.000000,0.023691,...,-0.171739,-0.042106,-0.120928,-0.048093,0.029570,-0.015746,0.248939,0.007780,0.112755,0.103930
children,0.067355,0.028630,0.041153,0.013659,0.013464,0.015816,0.028545,0.030458,0.023691,1.000000,...,-0.045656,-0.019210,-0.029426,0.031304,0.042026,-0.020420,0.326302,0.036325,0.044590,0.033293
babies,-0.020548,-0.003620,-0.023338,0.014119,0.014265,-0.000395,0.013663,0.016002,0.016634,0.017421,...,-0.012979,-0.005395,-0.009193,0.081032,0.028947,-0.006840,0.023444,0.030882,0.094821,0.016994
is_repeated_guest,-0.089654,-0.147021,0.024339,-0.037727,-0.036853,-0.004181,-0.106963,-0.113562,-0.171739,-0.045656,...,1.000000,0.206373,0.441455,0.006041,-0.065071,-0.012817,-0.153056,0.072015,-0.001326,-0.124333
previous_cancellations,0.051464,0.005369,-0.054217,0.007546,0.007202,-0.008540,-0.020641,-0.018788,-0.042106,-0.019210,...,0.206373,1.000000,0.392064,-0.010271,-0.032910,0.003681,-0.050273,-0.003401,0.001869,-0.021670
previous_bookings_not_canceled,-0.052160,-0.078941,0.027255,-0.021713,-0.020816,0.000150,-0.056660,-0.058513,-0.120928,-0.029426,...,0.441455,0.392064,1.000000,0.005417,-0.058040,-0.006304,-0.085730,0.040869,0.027110,-0.064641
booking_changes,-0.093664,0.077005,0.008596,0.011751,0.011919,0.006300,0.050297,0.085020,-0.048093,0.031304,...,0.006041,-0.010271,0.005417,1.000000,0.022885,0.024202,0.002540,0.048709,0.016106,0.081962
agent,-0.000920,0.080425,-0.001902,0.020768,0.019624,0.006122,0.158358,0.190033,0.029570,0.042026,...,-0.065071,-0.032910,-0.058040,0.022885,1.000000,-0.015251,0.008541,0.121966,0.033160,0.200352
days_in_waiting_list,0.004461,0.132151,-0.027943,0.012763,0.013847,0.006587,-0.031685,0.001899,-0.015746,-0.020420,...,-0.012817,0.003681,-0.006304,0.024202,-0.015251,1.000000,-0.033006,-0.016069,-0.049548,-0.010421
adr,0.127974,0.023533,0.176063,0.103543,0.098341,0.022597,0.038926,0.053285,0.248939,0.326302,...,-0.153056,-0.050273,-0.085730,0.002540,0.008541,-0.033006,1.000000,0.039111,0.137804,0.054134
required_car_parking_spaces,-0.184224,-0.086564,-0.039816,0.007330,0.008959,0.009162,-0.042938,-0.044327,0.007780,0.036325,...,0.072015,-0.003401,0.040869,0.048709,0.121966,-0.016069,0.039111,1.000000,0.048448,-0.048975
total_of_special_requests,-0.120567,0.034213,0.064246,0.049607,0.046622,-0.001667,0.032365,0.037809,0.112755,0.044590,...,-0.001326,0.001869,0.027110,0.016106,0.033160,-0.049548,0.137804,0.048448,1.000000,0.040183
total_nights,0.084059,0.318228,0.004607,0.033754,0.030735,-0.027615,0.786258,0.950575,0.103930,0.033293,...,-0.124333,-0.021670,-0.064641,0.081962,0.200352,-0.010421,0.054134,-0.048975,0.040183,1.000000